academictorrents
albumentations
einops
imageio
more_itertools
numpy
omegaconf
opencv_python_headless
Pillow
pudb
pytorch_lightning
PyYAML
requests
scikit_image
scipy
setuptools
skimage
streamlit
torch
torchvision
tqdm
transformers
typing_extensions
